
/*1.下载字体图标文件*/
/*2.自定义字体图标名称*/
@font-face {
    font-family: "lihuayan";
    src: url('font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('font/MiFie-Web-Font.svg') format('svg'),
    url('font/MiFie-Web-Font.ttf') format('truetype'),
    url('font/MiFie-Web-Font.woff') format('woff');
}

/*满足条件的属性选择器都使用名为lihuayan的字体*/
/*以icon-开头的属性选择器*/
/*以 icon-开头的属性选择器（icon前面多一个空格的）*/
[class^= "icon-"],[class*=" icon-"]{
    font-family: lihuayan;
    font-style: normal;
}

/*3.通过指定的类名使用*/
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}